body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: black;
    background-image: radial-gradient(
            white,
            rgba(255, 255, 255, 0.2) 2px,
            transparent 40px
        ),
        radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
        radial-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1) 2px,
            transparent 30px
        );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: white;
    /* background: url("/img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* width: 100vw;
    height: 100vh; */
    height: 100vh;
    overflow-y: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* body * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */

h1 {
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        
    }
}

#main-h {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-h button {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    #header h1 {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        padding-top: 0;
    }
    #header {
        margin-top: 1rem;
        padding-top: 2rem;
    }
    #header img {
        margin-left: 1rem;
    }

    #main-h {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    #main-h {
        flex-direction: column;
    }
    
    #main-h button {
        margin-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 4rem; /* Location of the box */
    padding-bottom: 4rem;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-img {
    max-width: 100%;
    max-height: 75vh;
    object-fit: contain;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fc .fc-list-sticky .fc-list-day > * {
    background-color: black !important;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 4rem;
    }
}

html {
    /* height: 110vh; */
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    p {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 500px) {
    p {
        margin-top: 0;
    }
}

.fc-event {
    cursor: pointer;
}

#cal-download {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease,color .17s ease;
}

#cal-download:hover {
    background-color: rgb(71, 82, 196);
}