@tailwind base;
@layer base {
    ol,
    ul {
        list-style: initial;
        margin: revert;
        padding: revert;
    }
}
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    @apply bg-lightGray-normal;
}

* {
    max-width: 100vw !important;
}

.awssld__content img {
    @apply object-contain max-h-full !important;
}

.awssld *:not(.awssld__bullets *) {
    @apply max-h-[70vh] bg-inherit !important;
}

.ombra {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
}

.carousel__controls {
    margin-top: 5rem !important;
}

.carousel__slide:hover .carousel__slide-overlay {
    opacity: 0 !important;
    /* display: none!important; */
    z-index: 50;
}

@media screen and (min-width: 768px) {
    .carousel {
        scale: 0.5!important;    
    }
}

a {
    @apply text-red-500
}

.carousel__slide {
    cursor: pointer;
}