@tailwind base;
@layer base {
    ol,
    ul {
        list-style: initial;
        margin: revert;
        padding: revert;
    }
}
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    background: #f7f7f7;
}
